.projects-wrapper {
    color: var(--white);
    padding: 4rem 0;
}

.projects-heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width:768px) {
    .projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
        gap: 1rem;
    }
}

@media screen and (min-width:1200px) {
    .projects-container {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 2rem;
    }
}


.project-details-container {
    margin: 3rem 0;
}


@media screen and (min-width:768px) {
    .project-details-container {
        margin: 1.5rem 0;
    }
}


.project-title {
    margin: 1rem 0;
}

.project-skills {
    display: flex;
    justify-content: flex-start;
}

.skills {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.project-buttons {
    max-width: 16.93rem;
    display: flex;
    justify-content: space-between;
}