.contact-wrapper {
    background-color: var(--dark-grey);
    padding: 4rem 0rem;
}

@media screen and (min-width:768px) {
    .contact-section {
        max-width: 27.81rem;
    }
}

@media screen and (min-width:1200px) {
    .contact-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 61.75rem;
    }
}

.contact-container {
    max-width: 27rem;
}

.contact-header {
    font-size: 5rem;
    text-align: center;
}


@media screen and (max-width:375px) {
    .contact-header {
        font-size: 3rem;
    }
}

@media screen and (min-width:1200px) {
    .contact-header {
        text-align: left;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    position: relative;
    /* min-width: 27rem; */
    margin-bottom: 6rem;
}

@media screen and (min-width:1200px) {
    .contact-form {
        min-width: 27rem;
    }
}


input {
    border: none;
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--dark-grey);
    border-bottom: 2px solid var(--light-grey);
    font-weight: bold;
    color: var(--white);
}

input:nth-child(3) {
    padding-bottom: 4rem;
}

.contact-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    background-color: var(--dark-grey);
    border: none;
    right: 0;
    bottom: -2rem;
}