@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Space+Grotesk:wght@500;700&display=swap');


:root {
  --black: rgb(21, 21, 21);
  --light-blue: rgb(78, 225, 180);
  --dark-grey: rgb(38, 38, 36);
  --light-grey: rgb(217, 217, 217);
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: var(--black);
}





.max-width-container {
  max-width: 21.43rem;
  margin: auto;
}


@media screen and (max-width:375px) {
  .max-width-container {
    max-width: 19rem;
  }
}

@media screen and (min-width:768px) {
  .max-width-container {
    max-width: 44.25rem;
  }
}


@media screen and (min-width:1200px) {
  .max-width-container {
    max-width: 61.75rem;
  }
}


.heading {
  font-weight: bold;
  color: var(--white);
}

.body-text {
  font-size: 1.125rem;
  line-height: 1.75;
  color: var(--light-grey);
}


.xl {
  font-size: 5.5rem;
  line-height: 5.5;
  letter-spacing: -.156rem;
}

.L {
  font-size: 3rem;
  /* line-height: 3.5; */
  letter-spacing: -.094rem;
}

.M {
  font-size: 1.5rem;
  line-height: 2;
}

.button {
  text-decoration: underline var(--light-blue) 2px;
  text-underline-offset: 10px;
  color: var(--white);
  display: flex;
  align-items: center;
}

.button:hover {
  color: var(--light-blue);
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

.mobile-img {
  display: flex;
}

.tablet-img {
  display: none;
}

.desktop-img {
  display: none;
}

@media screen and (min-width:768px) {
  .mobile-img {
    display: none;
  }

  .tablet-img {
    display: flex;
  }

  .desktop-img {
    display: none;
  }
}



@media screen and (min-width:768px) {
  .mobile-img {
    display: none;
  }

  .tablet-img {
    display: none;
  }

  .desktop-img {
    display: flex;
  }
}